@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Ubuntu Mono', ui-monospace, Menlo, 'Liberation Mono', 'Courier New', monospace;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

html {
  transition: all 300ms ease-in-out;
}

.light {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background: theme('colors.light.bg');
  color: theme('colors.light.text');
}

.warm {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background: theme('colors.warm.bg');
  color: theme('colors.warm.text');
}

.dark {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background: theme('colors.dark.bg');
  color: theme('colors.dark.text');
}
